GtkNotebook,
GtkWindow{
    background-color: #3c3b37;
    color: #aaa;
    font-family: monospace;
}
GtkTextView{
    background-color: #000;
    color: #aaa;
    font-family: monospace;
}
GtkTextView:selected{
    background-color: #3c3b37;
}
